<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>归档</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="./css/me.css">
</head>
<body>
<!--导航-->
<th:block th:replace="_fragments :: menu(4)"></th:block>
<!--inverted 颜色翻转  attached依附-->

<!--中间部分-->
<div class="m-padded-tb-big m-container-small">
    <div class="ui container">
<!--        header-->
        <div class="ui segment top attached padded">
            <div class="ui two column middle aligned grid">
                <div class="column">
                    <h3 class="header teal ui">分类</h3>
                </div>
                <div class="column right aligned">
                    共<h2 class="ui header orange m-inline-block m-text-thin" th:text="${blogCount}"> 114 </h2>篇博客
                </div>
            </div>
        </div>

        <th:block th:each="item : ${archiveMap}">
            <h3 class="ui center aligned header" th:text="${item.key}">2019</h3>
            <div class="ui fluid vertical menu">
                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item" th:each="blog :${item.value}">
                <span>
                    <i class="mini teal circle icon"></i><span th:text="${blog.title}">标题</span>
                    <div class="ui basic teal left pointing label m-padded-mini m-text-thin" th:text="${#dates.format(blog.updateTime,'MMMdd')}">9月13</div>
                </span>
                    <div class="ui basic orange left pointing label m-padded-mini m-text-thin" th:text="${blog.flag}">原创</div>
                </a>
            </div>
        </th:block>




    </div>
</div>

<th:block th:replace="_fragments::footer"></th:block>
<th:block th:replace="_fragments::script"></th:block>
<script>
    $('.menu.toggle').click(function (e) {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>